/*
  Minimal CSS reset
  Only resetting things that aren't going to be overridden anyway
  Philosophy is not to blanket reset everything
 */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
}
a,
button {
  transition-property: color, background-color, text-decoration;
  transition-duration: .5s;
}
figure {
  margin: 0;
}
/* When should links be underlined? */
.page-content a,
button.link {
  text-decoration: underline;
}
.page-content a.button,
.page-content nav a,
.page-content .views ul a {
  text-decoration: none;
}
button {
  background: transparent;
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  cursor: pointer;
}
::-moz-focus-inner {
    padding: 0;
    border: 0;
}
img {
    max-width: 100%;
    height: auto;
    border: 0;
}

/* ----------- Base styles ------------ */

body {
  background-color: #fff;
  font: 105%/1.6 sans-serif;
  font-weight: 300;
  position: relative;
}

h1, h2, h3, h4, h5, ol, ul, dl, table, blockquote, p, .form-item, fieldset, details {
  margin: 0 0 1.4rem;
}
h1, h2  {
  font-weight: inherit;
  line-height: 1.4rem;
}
h3, h4, h5, b, dt, strong {
  font-weight: 600;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 0;
}
h2 {
  font-size: 1.5rem;
}
.sidebar h2 {
  font-size: 1.3rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.7rem;
}
.sidebar h3 {
  font-size: 1rem;
}
h4 {
  font-size: 1.2rem;
}
ol, ul {
  padding-left: 1.4rem;
  margin-left: 0;
}
nav ul,
nav ol,
.region-sidebar ul,
.site-footer ul,
ul.links,
li.action-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
dt {
 margin-bottom: .5rem;
}
blockquote {
  border-left: 3px solid #ccc;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-style: italic;
  margin-left: 2rem;
}
blockquote p:last-child {
  margin-bottom: 0;
}
/* Tables */
table {
  border-collapse: collapse;
}
th {
  background: #747474;
  color: #fff;
  font-weight: normal;
}
.page-main th a {
  color: #fff;
  text-decoration: none;
}
td, th {
  border: 1px solid #bbb;
  padding: .5rem 1.2rem;
  vertical-align: top;
}
tr.even {
  background: #ddd;
}
tr.odd {
  background: #eee;
}
