/**
 * General classes that can be used anywhere
 */

 /* Buttons */
.button,
button:not(.link),
input.form-submit {
  display: inline-block;
  line-height: 1rem;
  padding: .5em 1em;
  text-decoration: none;
  text-transform: lowercase;
}
.button.big {
}
.button.small {
}
.button.button--danger {
  background-color: hsla(0, 69%, 58%, 1);
  color: #fff;
}
.button.button--danger:hover,
.button.button--danger:focus {
  background-color: hsla(0, 78%, 44%, 1);
  color: #fff;
}

/* Marker
 * Used by drupal for "new" labels in certain places
 * Can be used for a highlight effect; should be applied to a suitable HTML element */
.marker {
  font-size: .9rem;
  margin: 0 .5rem;
  padding: 0.15rem .3rem;
}

/* A block of code */
.codeblock {
  background: #eee;
  border: 1px solid #ccc;
  color: #666;
  font-family: monospace;
  margin-bottom: 1em;
  padding: .8em;
}
.codeblock pre {
  overflow: scroll;
}

/* "Display" list: removes list markers, margins, and left padding. */
.display-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

/* Flex list: displays flex */

.flex-list {
  display: flex;
}

/* Inline List: Removes markers, display inline, optional comma separator */

.inline-list li {
  display: inline-block;
}

/** Text adjustments */

.smaller {
  font-size: .9em;
}
.bigger {
  font-size: 1.1em;
}

/* Flexbox classes (full support only; no IE 10) */

.flex {
  display: flex;
  justify-content: space-between;
}
.flex-align-vertical {
  align-items: center;
}
.flex-grid {
  flex-wrap: wrap;
}
.flex-grid > * {
  flex: 1;
}
@media screen and (max-width: 600px) {
  /* All flex will collapse down on mobile by default */
  .flex {
    display: block;
  }
  .flex > * {
    margin-bottom: 1.5rem;
  }
}

/* Grid layout + Cards
  EXPERIMENTAL: Needs browser testing  */
.grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5rem;
}
.grid > * {
  overflow: hidden;
}
@media all and (min-width: 600px) {
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (min-width: 1000px) {
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1000px) {
  .grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.grid.cards > li {
  display: flex;
}

/* @todo: create classes for reversed colours and document here */
.card {
  background: #eee;
  padding: 1rem;
}
.card .content-footer {
  padding: 0;
}
.card .content-footer .links:first-child a {
  padding-left: 0;
}

.card.fullbleed {
  padding: 0;
}
.card.fullbleed .content {
  padding: 1rem;
}
.card.bordered {
  background: transparent;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(155,155,155,0.4);
}
