/**
 * Colour CSS
 * To be modified by color module
 */

/* Main text colour */

body {
  color: #323232;
}
.text-colour-fill {
  fill: #323232;
}
.text-colour-stroke {
  stroke: #323232;
  stroke-width:0.26458332;
}
nav li.expanded:before,
nav li.expanded:after {
  background-color: #323232;
}

/* Standard links */
.page-main a,
.skip-link,
.region-admin a:link { /* link colour is a little darker */
  color: #3d599c;
}
.page-main a:not(.button):visited  {
 color: rgba(65,65,65,1);
}

/* Header/Footer colour */
.site-header,
.sticky-header .site-header.is-sticky,
.footer-bottom {
  background-color: #fff;
}
.header-fg-fill {
  color: #303030;
  fill: #303030;
}
.site-header,
.site-footer,
.site-header input,
.site-footer input,
.site-header .menu a,
.site-footer a,
.menu--push_left a,
.menu--push_right a {
  color: #303030;
}

/* Highlight colour 1: Menu, logo text, button hovers  */
.main-menu,
.footer-menu,
.menu--mobile,
.dropbutton-toggle button,
.page-main a.button:visited,
.button:hover,
.form-submit:hover,
.button:focus,
.form-submit:focus,
.form-submit,
.forum-list li.container {
  background-color: #0d1271;
}
.site-name span:last-child {
  color: #0d1271;
}

/* Menu foreground  */
.main-menu,
.footer-menu,
.menu--mobile,
.region-footer-menu a,
.region-main-menu a,
.button:hover,
.form-submit:hover,
.button:focus,
.form-submit:focus,
.forum-list li.container {
  color: #ffffff;
}
.main-colour-fg-fill,
.menu-caret {
  fill: #ffffff;
}
.region-main-menu nav li.expanded:before,
.region-main-menu nav li.expanded:after {
  background-color: #ffffff;
}
.region-main-menu nav li:hover > a,
.region-footer-menu nav li:hover > a,
.region-main-menu nav li:hover span,
.region-footer-menu nav li:hover span,
.region-main-menu nav a:focus,
.region-footer-menu nav a:focus,
.header--light-on-dark .menu li:hover > a,
.header--light-on-dark .menu li:focus > a,
.header--light-on-dark .menu li:hover span,
.header--light-on-dark .menu li:focus span {
  background-color: rgba(255,255,255,0.15);
}

/* Highlight region */
.highlight,
.sticky-wrapper {
  background-color: #2d276d;
}
.highlight,
.highlight {
  color: #efefef;
}
.highlight a {
  color: #ffdf5d;
}

/* Accent colour: Buttons, link hovers, site title first word */
.button,
.form-submit,
button:not(.link),
.dropbutton-toggle button,
.page-main a.button:visited {
  background-color: #e3c446;
  color: #313131;
}
.colour-fill {
  fill: #e3c446;
}
a.site-name,
.page-main a:hover,
.page-main a:not(.button):visited:hover,
.page-main a:active,
.page-main a:focus {
  color: #e3c446;
}

/* Sidebar background colour */
.page-sidebar {
  background-color: #e4e4e4;
}

/* Upper Footer background colour */

.footer-top {
  background-color: #bdbdbd;
  color: #222222;
}
.footer-top a:hover {
  color: #222222;
}
