/**
 * Component CSS for comments
 */
.comments {
  margin-top: 40px;
}
.comment {
  margin-bottom: 2rem;
}
.comment .content {
  padding: 0 .8rem;
}
@media screen and (min-width: 600px) {
  .comment.has-picture .content {
    padding-left: calc(100px + 2rem);
  }
  .comment .content {
    overflow: auto;
  }
}
.comment .content-footer {
  margin-bottom: 1rem;
}

/* Additions to content-footer ("submitted by") */

.comment .permalink,
.comment .content-footer mark:not(.hidden) {
  display: flex;
  align-items: center;
  margin: 0 0 0 .5rem;

  text-transform: lowercase;
}
.content-footer mark {
  font-weight: bold;
  margin: -.4rem -0.8rem -.4rem .5rem;
  padding: .4rem .8rem;
}
.content-footer mark svg {
  display: inline-block;
  vertical-align: middle;
  margin-right: .2rem;
}
.permalink svg {
  opacity: .5;
  vertical-align: middle;
}
