/*
 * Fonts based on theme settings
 */

body.font--lato {
  font-family: Lato, Helvetica, sans-serif;
}
body.font--muli {
  font-family: Muli, Helvetica, sans-serif;
}
body.font--noto_sans {
  font-family: 'Noto Sans', Helvetica, sans-serif;
  line-height: 1.8em;
  font-size: 101%;
}
body.font--open-sans {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
body.font--oxygen {
  font-family: Oxygen, Helvetica, sans-serif;
}
body.font--pt_sans {
  font-family: 'PT Sans', Helvetica, sans-serif;
  font-size: 105%;
}
body.font--ubuntu {
  font-family: Ubuntu, Helvetica, sans-serif;
}
