/**
 * Component CSS for forms
 */

legend {
  font-size: 1.1rem;
  font-weight: 400;
}
.form-item {
  margin-bottom: 1rem;
}
label, /* @todo: check font families; might need to vary this */
h4.label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .2rem;
}
label.label-inline:after {
  content: ':';
  margin-right: .5rem;
}
label.option { display: inline-block; }
input,
select,
textarea {
  background: #fff;
  border: 1px solid #999;;
  padding: .6em .8em;
  max-width: calc(100% - 1rem);
}
textarea {
  font-size: 1rem;
  font-family: inherit;
  width: 100%;
}
.form-submit {
  border: none;
  font-size: 1em;
  cursor: pointer;
  max-width: 100%;
  text-transform: lowercase;
  -webkit-appearance: none;
}
.description,
.text-full {
  color: #777;
  font-size: .85rem;
  line-height: 1.2rem;
  margin-top: .5rem;
}
textarea.text-full {
  color: #444;
}

/* Grouping elements */

fieldset,
fieldset.form-item,
details {
  border: 1px solid #ccc;
  margin-bottom: 1.7rem;
  min-width: 0;
}
fieldset,
fieldset.form-item {
  padding: 0.4rem .8rem;
}
details > *,
details > .form-item {
  margin: 1rem;
}
fieldset.collapsible legend {
  font-size: 1em;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary {
  background: #ddd;
  cursor: pointer;
  font-weight: 400;
  margin: 0;
  padding: .5rem .5rem .5rem 1rem;
}
details summary:before {
  background: url(../images/angle-icons.svg) left -3.3rem no-repeat ;
  background-size: 3.5rem;
  content: '>';
  color: transparent;
  margin-right: .3rem;
  opacity: .5;

  float: left;
  padding: 0;
  width: 1rem;
  height: 1.5rem;
}
details[open] summary:before {
  background-position: left -1.3rem;
}
details > fieldset,
details > fieldset.fieldgroup {
  margin: 1rem;
  padding: .5rem;
}
/* Field types */
.form-type-radio label,
.form-type-checkbox label {
  font-size: .9rem;
  font-weight: 300;
}
.form-type-checkbox.form-item,
.form-type-radio.form-item {
  padding: 0;
  margin-bottom: .2rem;
}
.form-type-radio label:after {
  content: '';
}
label.option + .description {
  display: inline-block;
}
.field--widget-boolean-checkbox .form-item {
  margin-bottom: 0;
}
.field--widget-boolean-checkbox + .field--widget-boolean-checkbox .form-item {
  padding-top: 0;
}
.container-inline .form-item {
  display: inline-block;
  margin-bottom: 0;
}

/* Link fields */
@media all and (min-width: 500px) {
  .field--type-link .fieldset-wrapper {
    overflow: auto;
  }
  .field--type-link .fieldset-wrapper > div {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .field--type-link .fieldset-wrapper > div:last-child {
    margin: 0;
  }
  .field--type-link .fieldset-wrapper input {
    max-width: calc(100% - 20px);
  }
}
/* Required fields */
.form-required:after {
  content: '*';
  color: #c00;
  vertical-align: super;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 6px 6px;
  width: 6px;
  height: 6px;
  margin: 0 0.3em;
}
/* Actions */
.form-actions {
  margin-top: 1.5rem;
}
.form-actions > * {
  margin-right: .5rem;
}
.dropbutton-widget input {
  max-width: 100%;
  width: 100%;
  text-align: left;
}
.dropbutton-toggle button {
  display: block;
}

/* Hover help */
.help-group {
  position: relative;
}
.help-toggle {
  cursor: pointer;
  font-size: .9rem;
  text-decoration: underline;
}
.help-toggle:before {
  content: '?';
  display: inline-block;

  border-radius: 50%;
  background: #666;

  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  line-height: .9rem;
  text-align: center;

  margin-right: .5em;
  padding: .2em;
  height: .8rem;
  width: .8rem;
}
.help-toggle:hover + .help-content {
  display: block;
}
.help-content {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  font-size: .9rem;

  display: none; /* @todo: accessibility implications of this? */
  padding: .9rem;

  position: absolute;
  top: 1.8rem;
  left: 2rem;
  z-index: 99;
}
.help-content *:last-child {
  margin-bottom: 0;
}

/* Text formatting help */
.filter-wrapper {
  border: none;
  padding: 0;
  overflow: visible;
}
.filter-help {
  font-size: .85rem;
}
.filter-help a:after {
  display: none;
}
.filter-wrapper + .text-full {
  clear: both;
  margin-top: .5rem;
}
.filter-wrapper .filter-guidelines {
  margin: 0 0 0 5.3rem;
}
.text-format-wrapper .form-item {
  margin-bottom: .5rem;
}
/* Password fields */
.password-field,
.password-confirm {
  float: left;
  margin-right: .5em;
}
.form-item-pass .description {
  clear: both;
  margin-top: .5rem;
}
.password-strength,
.password-confirm {
  font-size: .85rem;
}
.password-strength {
  float: left;
  margin-left: .5em;
  min-width: 200px;
  max-width: calc(100% - 180px);
}
.password-parent,
.confirm-parent {
  overflow: auto;
  clear: both;
}
.password-strength__indicator.is-weak {
  background-color: hsl(0, 69%, 58%);
}
.password-strength__indicator.is-good {
  background-color: hsl(49, 77%, 56%);
}
.password-strength__indicator.is-strong {
  background: hsl(108, 44%, 55%);
}
.password-confirm span {
  font-weight: bold;
}
.password-confirm .ok {
  color: hsl(108, 44%, 45%);
}
.password-confirm .error {
  color: hsl(0, 69%, 58%);
}
.password-suggestions {
  border: 1px solid hsl(0, 69%, 58%);
  padding: .8rem;
  max-width: 395px;
}

/* Image Widget */

.image-widget img {
  float: left;
  margin-right: 1rem;
}

/* Vertical Tabs */
.vertical-tabs__menu a {
  text-decoration: none;
}
.vertical-tabs__menu-item-summary {
  color: #424242;
  font-size: .85rem;
}

/* Specific Forms */

/* Node/Edit preview top toolbar */
.node-preview-container {
  background: rgba(42,42,49,0.9);
  color: #fff;
  width: 100%;
}
.node-preview-container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
a.node-preview-backlink {
  color: #fff;
  text-decoration: none;
}
.node-preview-backlink:before {
  background: url(../images/angle-icons.svg) -2.9rem -7.4rem no-repeat;
  background-size: 4.5rem;
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: .5rem;
  vertical-align: middle;
}
.node-preview-container .form-type-select {
  margin: 0;
}
.node-preview-container .form-select {
  background: rgba(42,42,49,1);
  border: 1px solid rgba(200,200,200,0.5);
  color: #fff;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  padding-right: 1.5rem;
}
.node-preview-container .form-type-select:after {
  background: url(../images/angle-icons.svg) -2rem -1rem no-repeat;
  background-size: 3rem;
  content: '';
  display: inline-block;
  width: 1.2rem;
  height: 1.5rem;
  pointer-events: none;
  margin-left: -1.8rem;
  vertical-align: middle;
}
/* Contact Form */


/* Views Exposed Filters */

.views-exposed-form {
  display: flex;x
  align-items: center;
  justify-content: flex-end;
}
@media all and (max-width: 900px) {
  .views-exposed-form {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
.views-exposed-form .form-item {
  display: flex;
  align-items: center;
  margin: 0 .5rem 2rem;
}
.views-exposed-form .form-actions {
  margin-top: 0;
}
.views-exposed-form label {
  font-weight: normal;
}
