/**
 * Main Component styles
*/

/* Common field classes */

.label-inline {
  display: inline-block;
  font-weight: bold;
  font-size: 1em;
  margin-right: .2em;
}
.label-inline:after {
  content: ':';
  display: inline-block;
}
.label-inline + ul.field-items,
.label-inline + ul.field-items li {
  display: inline-block;
}
.label-inline + ul.field-items li:after {
  content: ',';
  display: inline-block;
}
.label-inline + ul.field-items li:last-child:after {
  content: '';
}

/* Markers, mark element */

.content-footer mark,
.marker,
mark {
  background: rgba(227, 196, 70, 0.64);
  color: #666;
  padding: 0.3rem 0.6rem;
}

mark a {
  color: #666;
  text-decoration: none;
}
mark a:hover {
}

/* Feed icons */

.feed-icons {
  margin-top: 1rem;
}
.page-main a.feed-icon {
  text-decoration: none;
}
.feed-icon svg {
  vertical-align: top;
  margin-right: .2rem;
  height: 1.5rem;
  width: 1.5rem;
}
