/**
 * Layout CSS
 */

.innerwrapper,
.main-menu .region,
.region-admin,
.footer-section .region {
  margin: 0 auto;
  max-width: 1200px;
}
 @media screen and (max-width: 1220px) {
   .innerwrapper,
   .region-main-menu ,
   .site-footer .region {
     padding: 0 3%;
   }
 }

/* ------------ Sitewide Header --------------- */

.site-header {
  background: #323232;
    font-size: .9em;
}

@media screen and (min-width: 767px) {
  .site-header .innerwrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .site-header .region-branding {
    display: flex;
    align-items: center;
  }
  .block-system-branding-block {
    margin-right: auto;
    max-width: calc(100vw - 5rem);
  }
}
.site-header .innerwrapper {
  padding-top: .8rem;
  padding-bottom: .8rem;
}

/* ---- Branding block ----- */
.block-system-branding-block img {
  display: block;
  min-height: 3.2rem;
}
.block-system-branding-block a {
  display: block;
}
.site-name {
  display: block;
  font-size: 2.7em;
  font-weight: bold;
  letter-spacing: -0.1rem;
  line-height: 1em;
  text-decoration: none;
  max-width: calc(100vw - 5rem);
}

.site-slogan {
  font-style: italic;
  font-size: 1.1em;
}
.region-header {
  display: flex;
}

@media screen and (max-width: 767px) {
  .region-header {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  /* Default header layout (stacked blocks) */
  .region-header.header-layout--default  {
    flex-direction: column;
    align-items: flex-end;
  }
  .region-header.header-layout--default .block {
    margin-bottom: 8px;
  }
  .region-header.header-layout--default .block:last-child {
    margin-bottom: 0;
  }
  /* Horizontal header layout */
  .region-header.header-layout--horizontal {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .region-header.header-layout--horizontal .block {
    margin-left: 15px;
  }
}

/* -------- Highlight section ------- */

.highlight {
  line-height: 1.5em;
  position: relative;
}
.highlight-bg--cover {
  background-size: cover;
}
.highlight .region-highlight,
.region-content-bottom {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media screen and (min-width: 601px) {
  .highlight {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1001px) {
  .highlight {
    font-size: 1.2rem;
  }
}
/* Keep fonts in this section in ems so they will scale with the .highlight font size */
.highlight .page-title h1 {
  font-size: 1.5em;
}
.highlight .submitted,
.highlight .breadcrumbs {
  font-size: .9em;
}
.highlight-bg--tile {
  background-repeat: repeat;
}
.highlight-bg--cover {
  background-repeat: no-repeat;
  background-size: cover;
}

/* Page title */
.page-title h1 {
  line-height: 2rem;
  margin-bottom: .2rem;
}


/* -------- Main content ----- */

.page-content,
.page-sidebar {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.page-sidebar {
  padding: 1.5rem;
}
@media screen and (min-width: 960px) {
  .page-main {
    display: flex;
  }
  .layout-has-sidebar .page-content {
    flex-basis: 70%;
    padding-right: 2rem;
  }
  .page-sidebar {
    flex-basis: 30%;
    padding: 2rem;
  }
}
@media screen and (max-width: 959px) {
  .page-sidebar {
    margin: 0 -3%;
  }
}
.page-sidebar .block {
  margin-bottom: 1.5em;
}
.page-sidebar h2 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
}
.page-sidebar a {
  text-decoration: none;
}
.page-sidebar input.form-text {
  background: rgba(255,255,255,0.5);
  width: 100%;
}
.page-sidebar label {
  font-weight: 400;
}

/* ----------- Upper Footer ----------- */

.region-footer-top {
  line-height: 1.5em;
  padding: 25px 0;
}
.footer-top .block > h2 {
  margin-bottom: .8em;
}
.footer-top a {
  text-decoration: none;
}
.footer-top a:hover {
  text-decoration: underline;
}
.footer-top nav a {
  padding: .5em 0;
}
.footer-top .block {
  font-size: .9em;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .region-footer-top {
    display: flex;
  }
  .region-footer-top .block {
    flex: 1;
    margin-right: 20px;
  }
  .region-footer-top .block:last-child {
    margin-right: 0;
  }
}

/* Footer menus */

.footer-bottom {
  font-size: .9em;
  padding: 15px 0;
  text-align: center;
}
