/**
 * Component CSS for Menus
 */

ul.menu {
  margin-bottom: 0;
}
/* Block by default */
.menu li {
  display: block;
}
.menu a,
.menu span {
  display: block;
  padding: 0.4rem 1rem;
}

/* Horizontal menus */
.region-header.header-layout--default nav > ul li:not(.expanded):last-child a {
  padding-right: 0;
}
.region-header.header-layout--horizontal .menu--main {
  background: transparent; /* Override for mobile menu background colour */
  font-size: 1.1em;
  font-weight: 400;
}

/* Main menu layout options */
.region-main-menu nav > ul.menu,
.region-footer-menu nav > ul.menu,
.region-header nav > ul.menu {
  display: flex;
}
.mobile-menu-active .region-main-menu nav > ul.menu {
  display: block;
}
.region-main-menu.menu-align--left .menu {
  justify-content: flex-start;
}
.region-main-menu.menu-align--justify .menu {
  justify-content: space-between;
}
.region-main-menu.menu-align--right .menu {
  justify-content: flex-start;
}
.region-main-menu.menu-align--center .menu {
  justify-content: center;
}


/* Default Mobile main menu  */

@media screen and (max-width: 767px) {
  .menu--main > .menu {
    border-top: 1px solid rgba(255,255,255,0.8);
    display: block;
  }
  .menu--main > .menu li {
    border-bottom: 1px solid rgba(255,255,255,0.8);
  }
  .menu--main li ul {
    border-top: 1px solid rgba(255,255,255,0.8);
    background:rgba(0,0,0,0.2);
    font-size: .9em;
  }
  .menu--main li ul a {
    padding-left: calc(18px + 1em);
  }
}


/* Mobile menu inline setting + Footer menu */

@media screen and (max-width: 767px) {
  /* And with 'inline' setting */
  .mobile-menu--inline ul,
  .region-footer-menu ul {
    line-height: 1.2rem;
    padding: .6rem 0;
    text-align: center;
  }
  .mobile-menu--inline li,
  .region-footer-menu li {
    border-bottom: none;
    display: inline-block;
  }
}
/* Main menu region */


/* Main menu dropdowns'
  Don't want this to apply to menus in regions where the second level
  Should be shown by default */

.menu-has-dropdowns nav li.expanded {
  display: flex;
  position: relative;
}
.menu-has-dropdowns nav li.expanded > ul {
  display: none;
  min-width: 10rem;
}
.menu-has-dropdowns nav li.expanded > a:first-child {
  padding-right: 0;
}
.menu-has-dropdowns nav li.expanded > .menu-trigger {
  cursor: default;
  padding: 0.3rem .6rem;
}
.menu-has-dropdowns nav li.expanded > .menu-trigger.toggled {
  transform: rotate(180deg);
}
.menu-has-dropdowns nav li.expanded svg {
  width: .9rem;
}
.menu-has-dropdowns nav ul ul {
  background: rgba(64,64,64,0.9);
  border-top: 4px solid transparent;
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 2.4rem;
}
.menu-has-dropdowns nav ul ul li {
  border-bottom: 1px solid #fff;
  font-size: .9em;
  display: block;
}
.menu-has-dropdowns nav ul ul li a {
  color: #fff;
}
.menu-has-dropdowns nav ul ul li:last-child {
  border-bottom: none;
}

/* Main menu levels (sidebar) */

.region-sidebar ul.menu {
  margin: 0;
}
.region-sidebar .menu li {
  background: rgba(255,255,255,0.5);
  margin-bottom: 5px;
}
.region-sidebar .menu .expanded svg {
  display: none;
}
.region-sidebar .menu .expanded .menu {
  padding-bottom: .5rem;
}
.region-sidebar .menu .expanded li {
  background: transparent;
  font-size: .95rem;
  margin-left: 1rem;
  line-height: 1rem;
}
.region-sidebar .menu .expanded li a:before {
  content: '';
  display: inline-block;
  background: url(../images/angle-icons.svg) 0 -2.2rem no-repeat;
  height: 1.2rem;
  width: 0.9rem;
  opacity: .5;
  background-size: 283%;
}
.region-sidebar .menu .expanded li a {
  padding: .2rem;
}

/* User account menu */
.menu--account {
  font-size: .9em;
}
.region-header .menu--account {
  text-align: right;
}
.region-header .menu--account ul.menu {
  display: flex;
}
.region-header.header-layout--default .menu--account a {
  padding: 0.2em .8em;
}
.region-header.header-layout--default .block-search-block-form + .menu--account {
  margin-top: -.5em;
}

/* Footer top menus */
.footer-top .menu li a {
  display: inline-block;
}
.footer-top .menu li:before {
  content: '';
  display: inline-block;
  background: url(../images/angle-icons.svg) 0 -2.2rem no-repeat;
  height: 1.2rem;
  width: 0.9rem;
  opacity: .5;
  background-size: 283%;
}

/* Footer menu layout */
.region-footer-menu nav > ul {
  justify-content: center;
}

/* Menus in footer bottom region */

.region-footer .menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.region-footer .menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  font-size: .85rem;
  line-height: 1em;
  margin-bottom: .75em;
}
