/**
 * All navigation types other than menus
 * Breadcrumbs, pagers, links etc.
*/

nav li {
  display: inline-block;
}
nav .contextual li {
  display: block;
}
nav a {
  text-decoration: none;
}

/* Skip link */
.skip-link {
  background: #e4e4e4;
  text-decoration: none;
  padding: .2rem .8rem;
}

/* Breadcrumbs */

.breadcrumbs {
  font-size: .85rem;
  margin-bottom: .5rem;
}
.breadcrumbs a {
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}
.breadcrumbs li:after {
  content: '/';
  display: inline-block;
  margin: 0 .3em;
}
.breadcrumbs li:last-child:after {
  content: '';
}

/* Pagers */

.pager {
  font-size: 1.1rem;
  margin: 2rem 0;
  text-align: center;
}
.pager li {
  display: inline-block;
}
.pager a {
  background: rgba(0,0,0,0.1);
  padding: .4rem .7rem;
  margin: 0 .2rem;
  text-decoration: none;
}
.pager .is-active a {
  font-size: 1.7rem;
}
.pager a:hover {
  background: rgba(0,0,0,0.2);
}

/* Views mini pager */
.mini-pager {
  background: rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  overflow: auto;
  width: 100%;
}
.mini-pager > * {
  flex-basis: 33%;
  padding: .4rem;
}
.mini-pager .pager-current {
  display: block;
  text-align: center;
  margin: 0 auto;
}
.mini-pager .pager-prev a,
.mini-pager .pager-next a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mini-pager .pager-next a {
  justify-content: flex-end;
}
.mini-pager .pager-prev a:before,
.mini-pager .pager-next a:after {
  content: '';
  background: url(../images/angle-icons.svg) no-repeat;
  background-size: 3.2rem;
  height: 1.2rem;
  width: 1.2rem;
  opacity: .5;
  flex: 0 0 1.2rem;
}
.mini-pager .pager-prev a:before {
  background-position: 0.2rem -5.1rem;
  margin-right: .3rem;
}
.mini-pager .pager-next a:after {
  background-position: 0.4rem -3.1rem;
  margin-left: .3rem;
}

/* Links */
@media all and (min-width: 620px) {
  .links.inline {
    text-align: right;
  }
}
.links.inline li {
  display: inline-block;
}
.links li a {
  font-size: .9rem;
  padding: .2rem .5rem;
  text-decoration: none;
  text-transform: lowercase;
}
.links li a:hover {
  text-decoration: underline;
}
