/**
 * Component CSS for nodes.
 */

/* Footer (links, submitted byline) */

.content-footer {
  font-size: .9rem;
  margin: 0 0 .5rem;
}
  .content-footer {
    display: flex;
    justify-content: space-between;
  }
.page-content .content-footer {
  background: #eee;
  padding: 0.4rem .8rem;
}
.content-footer a {
  text-decoration: none;
  font-weight: bold;
}
.content-footer .links a.new-comments {
  padding-left: .1rem;
  padding-right: .1rem;
}
.content-footer .user--compact {
  margin: -0.8rem .7rem -1.1rem 0;
  max-width: 100px;
}
.node.teaser .content-footer .user--compact {
  max-width: 50px;
}
.content-footer .submitted {
  margin: 0 auto 0 0;
}
@media all and (min-width: 620px) {
  .content-footer {
    height: 2.1rem;
  }
  .content-footer .date:before {
    content: '|';
    display: inline-block;
    margin: 0 .2rem;
  }
}
@media all and (max-width: 619px) {
  .content-footer {
    align-items: center;
  }
  .content-footer .date {
    display: block;
  }
  .content-footer .links li {
    display: block;
    text-align: right;
  }
}
.highlight .submitted {
  font-size: 1rem;
  margin-bottom: 0;
}

/* Teasers */

.page-content .node.teaser {
  margin-bottom: 3rem;
}
.node h2,
.node.teaser h2 a:link,
.node.teaser h2 a:visited {
  line-height: 1.2;
  text-decoration: none;
}
.node.teaser .content > h2 {
  margin-bottom: .5rem;
}
.highlight .node.teaser h2 {
  font-size: 1.2rem;
}
@media all and (min-width: 500px) {
  .node.teaser {
    display: flex;
    width: 100%;
  }
  .node.teaser > .field-field-image {
    flex: 1 0 auto;
    max-width: 35%;
    margin-right: 2rem;
  }
  .node.teaser .content {
    flex: 1 1 auto;
  }
}
@media all and (max-width: 499px) {
  .node.teaser > .field-field-image img {
    margin: 0 auto 20px;
    display: block;
  }
}

/* Full nodes */

.highlight .submittted {
  color: #fff;
}
.highlight .submitted a {
  text-decoration: none;
}
.highlight .submitted a:hover {
  text-decoration: underline;
}
/* in Highlight region */

.highlight .node.teaser h2 {
  font-size: 1.7em;
  margin-bottom: .2em;
}
.highlight .node footer {
  font-size: .75em;
}

/* Taxonomies */

.node .field-topic,
.node .field-tags:before {
  content: '';
}
