/**
 * Component CSS for user accounts & related functionality
 * (User profile pages, login forms etc.)
 */

/* Login block */

.block-user-login-block {
  background: rgba(255,255,255,0.5);
  padding: 0.8rem 1rem 1rem;
  margin-bottom: 1rem;
}
.block-user-login-block h2 {
  margin-bottom: .5rem;
}
.block-user-login-block > ul li:last-child {
  margin: 0;
}
.user-login-form .form-item {
  margin-bottom: .5rem;
}
.user-login-form label {
  font-size: .9rem;
}
.user-login-form .form-actions {
  margin-top: .8rem;
}
.request-password-link {
  font-size: .9rem;
  text-transform: lowercase;
}
.block-user-login-block > ul li {
  margin-right: .5rem;
}

.create-account-link {
  display: block;
  font-size: 1.1rem;
  font-weight: 400;
  margin-top: 1rem;
}
.create-account-link:before {
  background: url(../images/icon-sprites.svg) 0 0 no-repeat;
  background-size: 100%;
  opacity: .8;

  content: '';
  display: block;
  float: left;
  height: 1.8rem;
  width: 1.8rem;
  margin-right: .3rem;
}


/* User profiles */

.user-profile .field-user-picture {
  flex: 1 0 auto;
  margin-right: 1.2rem;
  max-width: 30%;
}
.user-profile .content {
  flex: 1 1 auto;
}
@media screen and (max-width: 600px) {
  .user-profile {
    display: block;
  }
  .user-profile .field-user-picture {
    float: left;
  }
}
