{#
/**
 * @file
 * Custom theme implementation to display a node in full view mode
 * Removes the submitted by information (rendered in the highlight area)
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
  {{ content|without('links') }}
</article>
