{#
/**
 * @file
 * Theme override for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 */
#}
<header class="page-title">
  {{ title_prefix }}
  {% if title %}
    <h1{{ title_attributes }}>{{ title }}</h1>
  {% endif %}
  {{ title_suffix }}


  {% if node and node_display_submitted and node.type.value[0].target_id != 'forum' %}
    <p class="submitted">
      {% if submitted_show_author and submitted_link_author %}
        {{ 'By'|t }} <a href="{{ path('entity.user.canonical', {'user': node.uid.value.0.target_id}) }}">{{ node.uid.entity.name.value }}</a> |
      {% elseif submitted_show_author %}
        {{ 'By'|t }} {{ node.uid.entity.name.value }} |
      {% endif %}
      {{ node.created.value|format_date('medium') }}</p>
  {% endif %}
  {% if term %}
    {{ term.description.value }}
  {% endif %}
</header>
