/**
 * Component CSS for mobile menus
 * Push menu code based on: https://tympanus.net/codrops/2013/04/17/slide-and-push-menus/
 */

 /* General styles for all menus */
.menu--main {
}

.region-header .menu--mobile {
  margin-top: 1rem;
}
/* Toggle/close icons */
button.menu--toggle {
  background: transparent;
  color: transparent;
  cursor: pointer;
  opacity: .5;
  margin: 3px .7rem;
  padding: 0;
}
.menu--toggle svg {
  height: 1.6rem;
  width: 1.6rem;
}


/* Second menu in slideout */
.menu--mobile .menu + .menu {
  border: none;
  margin-top: 2rem;
}
.menu--mobile .menu + .menu li {
  font-size: .9rem;
  border: none;
}
.menu--mobile .menu + .menu li a {
  padding: .7rem 1rem;
}

 /* Vertical menu that slides from the left or right */
.menu--push_left,
.menu--push_right {
  position: fixed;
	width: 70vw;
	height: 100vh;
	top: 0;
	z-index: 1000;
}
.menu--push_left a,
.menu--push_right a,
.menu--push_left span,
.menu--push_right span {
	padding: 1rem;
  line-height: 1rem;
}
.menu--push_left {
	left: -70vw;
}
.menu--push_right {
	right: -70vw;
}
.menu--push_left.menu--open {
	left: 0px;
}
.menu--push_right.menu--open {
	right: 0px;
}

/* Close Icons */
.menu--mobile .menu--close {
  display: block;
  opacity: 1;
  padding: 0.7rem .7rem 0;
}
.menu--push_left .menu--close {
  transform: rotate(180deg);
}
.menu--push_top .menu--close svg {
  transform: rotate(-90deg);
  margin-left: .7rem;
}

 /* Horizontal menu that slides from the top */
.menu--push_top {
	width: 100%;
  display: none;
}

 /* Push classes applied to the body */
 .mobile-menu--push {
 	overflow-x: hidden;
 	left: 0;
 }
 .mobile-menu--push_right.menu--open,
 .mobile-menu--push_right.menu--open .site-header {
 	left: -70vw;
 }
 .mobile-menu--push_left.menu--open,
 .mobile-menu--push_left.menu--open .site-header {
 	left: 70vw;
 }

 /* Transitions */
 .menu--main:not(.menu--push_top),
 .mobile-menu--push,
 .menu--mobile .expanded,
 .menu--mobile .expanded svg {
 	-webkit-transition: all 0.3s ease;
 	-moz-transition: all 0.3s ease;
 	transition: all 0.3s ease;
 }

/* Dropdowns */
.menu--mobile li.expanded {
  position: relative;
}
.menu--mobile li.expanded > *:first-child {
  max-width: calc(100% - 3.2rem);
}
.menu--mobile li.expanded .menu-trigger {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}
.menu--mobile li.expanded svg {
  padding: 1rem;
  width: 3.2rem;
}
.menu--mobile li.expanded .menu-trigger.expanded svg {
  transform:rotate(180deg);
}
.menu--mobile li.expanded > ul {
  clear: both;
  position: static;
  display: none;
}
.menu--mobile li.expanded > ul.expanded {
  display: block;
}
