/**
 * Component CSS for search (form + search results)
 */

.search-form {
  display: flex;
  justify-content: flex-end;
}
.form-type-search {
  flex: 1 0 calc(100% - (2rem + 2px));
}
.search-form .form-actions {
  flex: 0 0 calc(2rem + 2px);
}
.search-form .form-item {
  margin-bottom: 0;
}
.search-form input {
  border: none;
  height: 2.2rem;
  max-width: 100%;
}
.search-form input.form-search {
  background: rgba(255,255,255,0.3);
  border: 1px solid #ccc;
  min-width: 12rem;
}
.search-form .form-actions {
  margin: 0;
}
.search-form .form-submit {
  background-image: url(../images/search--md--white.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.5rem;
  color: transparent;
  display: block;
  height: calc(2rem + 2px);
  width: calc(2rem + 2px);

  margin-right: 0;
  position: relative;
  z-index: 5;
}

/* Light on dark header tweaks */

.header--light-on-dark .search-form input.form-search {
  border: none;
}
.header--light-on-dark input.form-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.header--light-on-dark input.form-search::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.header--light-on-dark input.form-search:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.header--light-on-dark input.form-search:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/* Mobile header  */
button.search-toggle {
  background: transparent;
  padding: 0;
  display: block;
  cursor: pointer;
  opacity: .5;
}


button.search-toggle:active,
button.search-toggle:hover,
button.search-toggle:focus {
  opacity: 1;
}
.search-toggle svg {
  height: 2.5rem;
  width: 2.3rem;
}
.region-header .hide-search {
  display: none;
}

/* When collapsed option is enabled */
.search-toggle-active:not(.search-toggle-desktop) {
  position: relative;
}
.search-toggle-active:not(.search-toggle-desktop) .contextual-region {
  position: static;
}
.search-toggle-active:not(.search-toggle-desktop) .search-toggle {
  position: absolute;
  right: 3.7rem;
  top: 10px;
}

.search-toggle-active .menu--toggle { /* make room for the search icon */
  margin-left: 3rem;
}
.search-toggle-active .search-form {
  justify-content: center;
}
.search-toggle-active .search-form .form-item {
  width: 100%;
  max-width: 16rem;
}
@media all and (max-width: 600px) {
  .search-toggle-active .search-form {
    width: 100%;
    position: static;
    margin-top: 1rem;
  }
}
.search-toggle-active .search-form .form-search {
  font-size: 1.1rem;
  width: 100%;
  max-width: 100%;
}
.search-toggle-active .search-form .form-submit {
  background-size: 1.8rem;
  height: calc(2.1rem + 2px);
  width: calc(2.1rem + 2px);
}
.search-toggle-active .block-search-form-block {
  order: 2;
}
.search-toggle-active .block-search-block-form + .menu--account {
  order: 1;
}

/* Adjustments for search toggle on desktop */

.site-header.search-toggle-desktop .search-block-form {
  position: relative;
}
.site-header.search-toggle-desktop .search-form {
  background: rgba(212,212,212,0.8);
  position: absolute;
  right: 0;
  padding: 12px;
  z-index: 19;
}
.search-toggle-desktop .header--light-on-dark .search-form {
  background: rgba(42,42,42,0.9);
  box-shadow: 1px 1px 5px rgba(42,42,42,0.6);
}

/* Advanced search form */


/* Search results page */
.search-result.node,
.search-result.node footer {
  display: block;
}
.search-result.node h2 {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}
.search-result.node strong {
  font-weight: bold;
}
