{#
/**
 * @file
 * Custom override for a text format-enabled form element.
 * Adds text-format-wrapper class, changes order of 'help link'
 *
 * @see template_preprocess_text_format_wrapper()
 */
#}
<div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  {{ children }}
  {% if description %}
    <div{{ attributes }}>{{ description }}</div>
  {% endif %}
</div>
