.privatemsg-box-fb {
  text-align  : left;
 overflow: auto;
}

.privatemsg-box-fb .avatar-fb {
  margin      : 5px;
  text-align  : center;
}
.privatemsg-box-fb .picture {
 float    : none; 
 padding  : 0 0 0 0;
}
.middle-column {
  float       : left;
  width       : 135px;
  text-align  : right;
  padding-right: 15px;
}
.name {
  margin      : 5px 0px;
  font-size   : 11px;
  font-weight : bold;
} 
.date {
  color         : #777777;
  font-size     : 9px;
  margin        : 0px;
} 
.right-column {
  margin:0 0 0 150px;
}
.message-participants {
  margin: 0 0 0 150px; 
 padding-bottom: .5em;
  border-bottom: 1px solid #C5C5C5;

}
.message-body {
  padding     : 1em 0 0;
  overflow    : auto;
  border-bottom: 1px solid #C5C5C5;
}

.message-actions {
 float: right;
}

.message-actions li {
  list-style-type:none;
  float:left;
  padding:5px;
  background-image:none;
}

.privatemsg-view-pager {
  margin: 1em 0;
  }