{#
/**
 * @file
 * Custom theme override for a views mini-pager.
 * Changes the labels on the links; adds classes
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_views_mini_pager()
 */
#}
{% if items.previous or items.next %}
  <nav role="navigation" aria-labelledby="pagination-heading">
    <h4 class="visually-hidden">{{ 'Pagination'|t }}</h4>
    <ul class="js-pager__items mini-pager">
      <li class="pager-prev">
        {% if items.previous %}
            <a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
              <span>{{ 'Previous'|t }}</span>
              <span class="visually-hidden">{{ 'page'|t }}</span>
            </a>
        {% endif %}
      </li>
      {% if items.current %}
        <li class="pager-current">
          {% trans %}
            Page {{ items.current }}
          {% endtrans %}
        </li>
      {% endif %}
      <li class="pager-next">
        {% if items.next %}
            <a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
              {{ 'Next'|t }}
              <span class="visually-hidden">{{ 'page'|t }}</span>
            </a>
        {% endif %}
      </li>
    </ul>
  </nav>
{% endif %}
