{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    {% set site_name_parts = site_name|split(' ') %}
    <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-name">
      {% for site_name_part in site_name_parts %}
        <span class="site_name_part">{{ site_name_part }}</span>
      {% endfor %}
    </a>
  {% endif %}
  {% if site_slogan %}
    <p class="site-slogan">{{ site_slogan }}</p>
  {% endif %}
{% endblock %}
