/*
 * Component CSS for Book module
 * Styles navigation elements for Books
 */

.book-navigation li {
  display: block;
}
.book-navigation ul ul {
  margin-left: 1.5rem;
}
.book-navigation a:hover,
.book-traversal-links a:hover {
  text-decoration: underline;
}
.book-traversal-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 1rem 0;
  padding: 1rem 0;

  font-size: 1.2rem;
}
.book-traversal-links li {
  flex: 1;
  line-height: 1.1rem;
}
.book-traversal-links a {
  display: flex;
  align-items: center;
  line-height: 1.5rem;
}
.book-traversal-links a:hover {
  text-decoration: none;
}
.book-up {
  justify-content: center;
}
.book-next {
  justify-content: flex-end;
}
.book-prev:before,
.book-next:after {
  content: '';
  display: inline-block;
  background: url(../../global/images/angle-icons.svg) no-repeat;
  background-size: 5rem;
  height: 1.5rem;
  width: 1.5rem;
  opacity: .3;
  flex: 0 0 1.5rem;
}
.book-prev:hover:before,
.book-next:hover:after {
  opacity: .6;
}
.book-prev:before {
  background-position: 0 -8.2rem;
  margin-right: .5rem;
}
.book-next:after {
  background-position: .2rem -5.1rem;
  margin-left: .5rem;
}
