/*
 * Component CSS for forums
 */

/* Common forum styles */
.forum-new {
  font-size: .9rem;
  position: relative;
}
.forum-list .submitted,
.forum-topic-list .submitted {
  font-size: .9rem;
  line-height: 1.15rem;
}

/* Forum list (not a table)
  Used for both the main forum list and the topic list */

.forum-list li {
  border-bottom: 2px dotted #ccc;
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}
.forum-list li.container {
  border-bottom: none;
  margin-top: -3px;
}
.forum-list li:last-child {
  border-bottom: none;
}
.forum-list .icon {
  flex-basis: 3rem;
  width: 3rem;
  height: 3rem;
  margin-right: .7rem;
}
.forum-list .icon.forum-topic--sticky {
  margin-top: -.5rem;
}
.forum-list .indent--level2 {
  padding-left: 2.5rem;
}
.forum-list .indent--level3 {
  padding-left: 5rem;
}
@media screen and (max-width: 799px) {
  .forum-list li {
    flex-wrap: wrap;
  }
  .forum-list .text {
    flex-basis: calc(100% - 3rem);
  }
  .forum-list .forum-new {
    width: 100%;
    flex-basis: 100%;
    margin-left: 1.4rem;
  }
}
@media screen and (min-width: 800px) {
  .forum-list .text {
    flex-basis: calc(100% - 11rem);
  }
  .forum-list .forum-new {
    flex-basis: 8rem;
    min-width: 8rem;
    text-align: right;
  }
}
.forum-list h2,
.forum-list h3 {
  margin-bottom: .2rem;
}
.forum-list h2 a {
  font-weight: bold;
  font-size: 1.3rem;
}
.forum-list a {
  text-decoration: none;
}
.forum-list p {
  font-size: .9rem;
  margin-bottom: .2rem;
}
.forum-list .forum-replies {
  font-size: .9rem;
  opacity: .6;
}
.forum-list li:hover .forum-replies {
  opacity: 1;
}
.forum-list .num-posts {
  font-style: italic;
  opacity: .7;
}
.forum-list .replies {
  font-weight: bold;
}
.forum-list .replies:after {
  content: '|'
}
.forum-list mark a {
  text-decoration: none;
}

/* Forum topic list (both displays) */
.forum-list .submitted {
  font-style: italic;
  font-size: .9rem;
  margin-bottom: .3rem;
}

/* Forum topic list (table) */

.forum__topic {
  display: flex;
}
.forum__topic .icon {
  margin-right: .5rem;
}
.forum__topic .forum__title > div:first-child a {
  font-size: 1.1rem;
  font-weight: bold;
  text-decoration: none;
}
.forum__topic .submitted,
.forum__last-reply {
  font-size: .9rem;
  opacity: .7;
}
.forum__replies {
  font-size: 1.3rem;
}

/* Forum nodes */

.node.forum.teaser {
  flex-direction: column;
}
.node.forum .content-footer {
  margin-bottom: 1rem;
}
.node.forum > .content {
  padding: 0 .8rem;
}
@media screen and (min-width: 600px) {
  .node.forum.has-picture > .content {
    padding-left: calc(100px + 2rem);
  }
}
