/**
 * Color preview CSS
 */

/*  Fix layout */
@media screen and (min-width: 37.5625em) {
  .color-form {
    max-width: 100%;
  }
  .color-placeholder,
  .color-form > h2,
  .colour-preview {
    width: calc(100% - 28rem);
  }
  .color-placeholder .farbtastic {
    margin: 0;
  }
  .form-item-scheme,
  .color-palette {
    width: 25rem
  }
  .color-palette {
    float: left;
  }
  .color-form > h2 {
    float: right;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .color-form label {
    width: 16rem;
    margin-right: .5rem;
  }
  html.js .colour-preview {
    float: left;
    clear: none;
    margin-left: 2rem;
    max-width: 50rem;
  }
}
.color-form .form-item {
  margin: .5rem 0;
}

/* ---------- Preview Styles ----------- */

.colour-preview {
  background: #fff;
  border: 1px solid #ccc;
  color: #151515;
  font-size: 16px;
  font-family: Ubuntu, sans-serif;
  line-height: 1.4;
  overflow: hidden;
}
.colour-preview a {
  color: #3d599c;
}
.colour-preview .header,
.colour-preview .footer {
  background: #fff;
  color: #303030;
}
.colour-preview .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.colour-preview .header h1 {
  color: #cfa707;
  font-size: 2rem;
  line-height: 1rem;
  margin-bottom: 0.7rem;
}
.colour-preview .logo img {
  min-height: 3rem;
  width: auto;
}
.colour-preview .header h1 span {
  color: #0d1271;
}
.colour-preview .header p {
  margin: 0;
}
.colour-preview .header .fake-form {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.colour-preview .header .fake-input {
  background: rgba(255,255,255,0.3);
  border: 1px solid #ccc;
  width: 10rem;
  font-size: .9rem;
  padding: .2rem .5rem;
}
.colour-preview .header .fake-form .button {
  background: url(../components/search/images/search--md--white.svg) center center no-repeat #2d276d;
  background-size: 84%;
  height: calc(1.7rem + 2px);
  width: calc(1.7rem + 2px);
  padding: 0;
  margin: 0;
  border-radius: 0;
}
.colour-preview .header,
.colour-preview .content,
.colour-preview .sidebar,
.colour-preview .upper-footer,
.colour-preview .lower-footer {
  padding: 1.3rem;
}

/* Menu */
.colour-preview .main-menu {
  width: 100%;
  background: #0d1271;
}
.colour-preview .main-menu ul {
  margin: 0;
  padding: 0 1.3rem;
}
.colour-preview .main-menu li {
  display: inline-block;
}
.colour-preview .main-menu a {
  display: block;
  color: #ffffff;
  font-size: 14px;;
  padding: .6rem .5rem;
  text-decoration: none;
}
.colour-preview .main-menu a:hover {
  background: rgba(255,255,255,0.25);
}
.colour-preview p {
  margin-top: 0;
}

/* Highlight area */

.highlight {
  background: #2d276d;
  color: #efefef;
  font-size: 1rem;
}

/* Content area and sidebar */
.colour-preview .content-wrap {
  display: flex;
}
.colour-preview .content {
  width: 68%;
  flex-basis: 68%;
}
.colour-preview .content a {
  color: #3d599c;
  text-decoration: underline;
}
.colour-preview .content h2 {
  color: #ffdf5d;
  font-weight: normal;
  font-size: 1.4rem;
  margin-bottom: .5rem;
}
.colour-preview .content h2 a {
  text-decoration: none;
}
.colour-preview .node-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  font-size: .9rem;
  padding: .5rem;
}
.colour-preview .node-footer p {
  margin: 0;
}
.colour-preview .node-footer .date:before {
  content: '|';
  margin: 0 .3rem;
}
.colour-preview .node-footer a {
  text-decoration: none;
}
.colour-preview .content ul.links li {
  display: inline-block;
}
.colour-preview .sidebar {
  background: #e4e4e4;
}

/* Sidebar */

.colour-preview .sidebar {
 width: 30%;
 flex-basis: 30%;
}
.colour-preview .sidebar ul {
  list-style: none;
  margin: 8px 0;
}
.colour-preview .sidebar li {
  background: rgba(255,255,255,0.5);
  font-size: .9rem;
  padding: .2rem .5rem;
  margin-bottom: 5px;
}

/* Upper footer */
.colour-preview .upper-footer {
  background: #bdbdbd;
  color: #222222;
  font-size: .9rem;
}
.colour-preview .upper-footer h2 {
  font-size: 1.1rem;
  margin-top: 0;
}
.colour-preview .upper-footer ul {
  list-style: none;
  margin-left: 0;
  padding: 0;
}
.colour-preview .upper-footer ul li {
  padding: .2rem 0;
}
.colour-preview .upper-footer a {
  color: #222222;
  text-decoration: none;
}
.colour-preview .lower-footer {
  text-align: center;
  font-size: .9rem;
  width: 100%;
}
