<div class="colour-preview">

  <div class="header">
    <div class="logo">
      <img src="" />
      <div class="logo-text">
        <h1 class="preview-site-name">Star<span>Light</span></h1>
        <p class="tagline">This is your tagline</p>
      </div>
    </div>
    <div class="fake-form"><span class="fake-input">Search</span><span class="button"></span></div>
  </div>

  <div class="main-menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Forum</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>

  <div id="preview-highlight-region" class="highlight">
    <div class="content">
      <h2>Highlight Article Title</h2>
      <p>This is the first paragraph of the Highlight content.</p>
    </div>
  </div>

  <div id="preview-content-wrap" class="content-wrap">

    <div id="preview-content" class="content">

    <h2><a>This is an article title</a></h2>
    <p>This is the article content. We will use some preview text here so you can see what it will look like. The teaser text will be a little bit longer, following the setting you choose in your content type display settings. The summary text will display here if it has been entered.</p>

    <div class="node-footer">
      <p class="submitted">
        By <a href="#">Author Name</a> <span class="date">18 June 2017 - 5:37am</span>
      </p>
      <a href="#">Read more</a>
    </div>

    </div>

    <div id="preview-sidebar-first" class="sidebar">
      <ul class="menu">
        <li>Sidebar link here</li>
        <li>Sidebar menu link</li>
        <li>Sidebar menu link</li>
      </ul>
    </div>

  </div>

    <div id="preview-upper-footer" class="upper-footer">
      <h2>Recent comments</h2>

      <ul>
        <li><a href="#">Enim Tum</a> 4 days 17 hours ago</li>
        <li><a href="#">Hos Macto Praemitto</a> 4 days 17 hours ago</li>
        <li><a href="#">At Conventio Macto Mos</a> 4 days 17 hours ago</li>
        <li><a href="#">Abbas Gravis Tum Utrum Veniam Verto</a> 4 days 17 hours ago</li>
      </ul>
    </div>

    <div id="preview-lower-footer" class="lower-footer">
      <p>Powered by <a href="http://drupal.org">Drupal</a></p>
    </div>
  </div>
