{#
/**
 * @file
 * Custom template to display a single page.
 *
 * Documentation: https://api.drupal.org/api/drupal/core%21modules%21system%21templates%21page.html.twig
 */
#}

<header role="banner" class="site-header menu-has-dropdowns">
  <div class="innerwrapper">
    {{ page.branding }}
    {{ page.header }}
  </div>
  <div class="main-menu menu-has-dropdowns">
    {{ page.main_menu }}
  </div>
</header>


{% if highlight_bg_big and highlight_bg_layout == 'cover'  %}
  {# if it's a big image, put in responsive image styles #}
  <style type='text/css'>
    .highlight { background-image: url({{ highlight_bg_small }}); }
    @media screen and (min-width: 600px) {
      .highlight { background-image: url({{ highlight_bg_medium }}); }
    }
    @media screen and (min-width: 1001px) {
      .highlight { background-image: url({{ highlight_bg_big }}); }
    }
  </style>
{% elseif highlight_bg %}
  {# if not, just display the image at its original size #}
  <style type='text/css'>
      .highlight { background-image: url({{ highlight_bg }}); }
  </style>
{% endif %}

<section class="highlight highlight-bg--{{highlight_bg_layout}}">
  <div class="innerwrapper">
    {{ page.highlight }}
  </div>
</section>

<main role="main" class="page-main innerwrapper">
  <a id="main-content" tabindex="-1"></a>

  <div class="page-content">
    {{ page.admin }}
    {{ page.content }}
  </div>

  {% if page.sidebar %}
    <aside role="complementary" class="page-sidebar" >
      {{ page.sidebar }}
    </aside>
  {% endif %}
</main>

{{ page.content_bottom }}

<footer role="contentinfo" class="site-footer">
  <div class="footer-section footer-top">{{ page.footer_top }}</div>
  <div class="footer-section footer-menu">{{ page.footer_menu }}</div>
  <div class="footer-section footer-bottom">{{ page.footer }}</div>
</footer>
