{#
/**
 * @file
 * Theme override to present a user profile in "compact" view mode
 * Actually used for user picture
 * Fixes mark-up
 */
#}
{% set classes = [
  'user--compact'
  ]
%}
{% if content.user_picture[0] %}
  <div{{ attributes.addClass(classes) }}>
      {{ content }}
  </div>
{% endif %}
