{#
/**
 * @file
 * Theme override for a forum post submission string.
 * Fixes the markup to match other submtted by lines,
 * links author name to user profile
 *
 * The submission string indicates when and by whom a topic was submitted.
 *
 * Available variables:
 * - author: The author of the post.
 * - time: How long ago the post was created.
 * - topic: An object with the raw data of the post. Potentially unsafe. Be
 *   sure to clean this data before printing.
 *
 * @see template_preprocess_forum_submitted()
 */

#}

{% if time %}
  <p class="submitted">
    {{ 'Posted by'|t }}
    <a href="{{ path('entity.user.canonical', {'user': topic.uid}) }}">{{ author }}</a>
    <span class="date"> {{ time }} {{ 'ago'|t }}</span>
  </p>
{% else %}
 {{ 'No replies'|t }}
{% endif %}
