{#
/**
 * @file
 * Custom theme implementation to display a node.
 * Starlight default for all nodes not in "full" view mode
 *
 * Documentation here: https://api.drupal.org/api/drupal/core!modules!node!templates!node.html.twig/8.2.x
 *
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'node',
    node.bundle|clean_class,
    view_mode ? view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {{ title_suffix }}
    {% endif %}

    <footer class="content-footer">
      {% if author_picture['#user'].user_picture.value %}
        {{ author_picture }}
      {% endif %}
      <p class="submitted"> {{ 'By'|t }} {{ author_name }} <span class="date">{{ date }}</span> </p>
    </footer>

  <div class="content">
    {{ content|without('comment_forum') }}
  </div>

  {{ content.comment_forum }}
</article>
